#info {
  background-color: white; }
  #info > h1 {
    background-color: #303030;
    color: white;
    margin: 0;
    padding: 0.5em; }
  #info > form > ul {
    padding: 0;
    margin: 15px; }
    #info > form > ul .hover {
      position: relative;
      display: inline-block;
      height: 200px;
      cursor: pointer; }
      #info > form > ul .hover:after, #info > form > ul .hover:before {
        position: absolute;
        opacity: 1;
        transition: all 0.5s; }
      #info > form > ul .hover:after {
        content: 'CLICK TO CHANGE';
        width: 100%;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.8);
        text-align: center;
        box-sizing: border-box;
        padding: 5px 10px;
        color: #303030;
        z-index: 1;
        font-weight: bold;
        font-size: 20px; }
      #info > form > ul .hover:before {
        content: '\A';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3); }
      #info > form > ul .hover:hover:after, #info > form > ul .hover:hover:before {
        opacity: 0; }
    #info > form > ul #preview {
      height: 200px; }
    #info > form > ul li {
      display: block; }
      #info > form > ul li #privacy {
        font-weight: bold; }
      #info > form > ul li a {
        color: deepskyblue;
        font-weight: bold;
        text-decoration: none; }
        #info > form > ul li a:hover {
          color: black; }
  #info #registered {
    margin: 0 15px;
    position: relative; }
    #info #registered .header {
      background-color: #A0A0A0;
      margin: 0px 0px;
      padding: 0.5em; }
      #info #registered .header span {
        font-weight: bold;
        font-size: 20px;
        color: white; }
      #info #registered .header a {
        position: absolute;
        top: 5px;
        right: 5px;
        font-weight: bold;
        text-decoration: none;
        padding: 5px 10px;
        color: #303030;
        background-color: white; }
        #info #registered .header a:hover {
          color: #303030;
          background-color: deepskyblue; }
    #info #registered ul {
      margin: 0;
      padding: 15px; }
      #info #registered ul s {
        text-decoration: none;
        color: gray; }
      #info #registered ul li {
        display: block;
        margin: 5px 0; }
        #info #registered ul li a {
          color: #303030;
          font-weight: bold;
          text-decoration: none; }
          #info #registered ul li a:hover {
            color: deepskyblue; }

#comments {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white; }
  #comments h4 {
    background-color: #303030;
    color: white;
    padding: 0.5em;
    margin: 0px; }
  #comments ul {
    margin: 15px;
    padding: 0; }
    #comments ul s {
      text-decoration: none;
      color: gray; }
    #comments ul li {
      display: block;
      color: #303030;
      margin: 5px 0; }
      #comments ul li a {
        color: deepskyblue;
        font-weight: bold;
        text-decoration: none; }
        #comments ul li a:hover {
          color: black; }
  #comments #comment_form {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: #F0F0F0;
    color: gray; }
    #comments #comment_form > form > input[name=text] {
      background-color: transparent;
      border: 0;
      font-size: 14px;
      width: 95%; }
    #comments #comment_form > form > input[name=comment_btn] {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      /* width: 5%; */
      padding-right: 10px;
      padding-left: 10px;
      border: none;
      background-color: #303030;
      color: white;
      font-weight: bold; }
      #comments #comment_form > form > input[name=comment_btn]:hover {
        background-color: deepskyblue;
        color: #303030; }

#invite_popup {
  position: fixed;
  display: none;
  background-color: white;
  position: absolute;
  top: 47%;
  left: 68%;
  padding: 15px;
  border: 1px #303030 solid; }

/*# sourceMappingURL=show_event.css.map */
